spring:
  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  output:
    ansi:
      enabled: always

  datasource:
    hikari:
      auto-commit: true

  jpa:
    properties:
      hibernate:
        connection:
          isolation: 2                 # READ_COMMITTED 격리 수준
      jakarta:
        persistence:
          lock:
            timeout: 3000              # 비관적 락 타임아웃

  mvc:
    hiddenmethod:
      filter:
        enabled: true

springdoc:
  default-produces-media-type: application/json

security:
  encryption:
    aes-key: ${AES_KEY}
    sha-salt: ${SHA_SALT}

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token:
    expiration: 10800000 # 3시간 (3 * 60 * 60 * 1000)
  refresh-token:
    expiration: 2592000000 # 30일 (30 * 24 * 60 * 60 * 1000)

cookie:
  secure: true
  same-site: Lax
  domain: ${COOKIE_DOMAIN:}

server:
  forward-headers-strategy: native

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

resilience4j:
  ratelimiter:
    instances:
      coolsmsSend:
        limitForPeriod: 10          # period당 허용 호출 수   5초에 10번 허용 -> 보수적으로 설정
        limitRefreshPeriod: 5s      # period
        timeoutDuration: 0          # 토큰 없으면 즉시 실패(대기 X)
  retry:
    instances:
      coolsmsSend:
        maxAttempts: 3               # 총 3번 시도 (최초 호출 + 2번 재시도)
        waitDuration: 300ms
        retryExceptions:
          - java.net.SocketTimeoutException
          - java.net.ConnectException
          - java.io.IOException
        ignoreExceptions:
          - back.fcz.global.exception.BusinessException
  circuitbreaker:
    instances:
      coolsmsSend:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s             # 오픈 상태 지속 시간 10초
        permittedNumberOfCallsInHalfOpenState: 3 # half-open 상태에서 closed로 전환 하기 위한 테스트 호출 수
        recordExceptions:
          - java.net.SocketTimeoutException
          - java.net.ConnectException
          - java.io.IOException
