spring:
  config:
    import: optional:file:.env[.properties]

  profiles:
    default: dev

  output:
    ansi:
      enabled: always

  datasource:
    hikari:
      auto-commit: true

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
    show-sql: true

  mvc:
    hiddenmethod:
      filter:
        enabled: true

springdoc:
  default-produces-media-type: application/json

logging:
  level:
    com.example.demo: INFO

security:
  encryption:
    aes-key: ${AES_KEY}
    sha-salt: ${SHA_SALT}

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token:
    expiration: 10800000 # 3시간 (3 * 60 * 60 * 1000)
  refresh-token:
    expiration: 2592000000 # 30일 (30 * 24 * 60 * 60 * 1000)

cookie:
  secure: false
  same-site: Lax